<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SGP Modolog</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fechamento-sede">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Fechamento sede
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fechamento-interior">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Fechamento interior
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quantidades-sede">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Quantidades sede
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quantidades-interior">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Quantidades interior
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="entregadores">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Entregadores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cidades">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cidades
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipos-de-entrega">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tipos de entrega
            </NavLink>
        </div>
    </nav>
</div>

